<div class="top-bar">
    <h3>Groups</h3>
    <div class="btn-group">
        <button class="btn primary" style="background-color: transparent; color: var(--color-blue-light);"
            (click)="toggleAddWoModal()">
            Add W.O Scores
        </button>
        <button class="btn" style="background-color: transparent; color: var(--color-red);"
            (click)="toggleAddScoresModal()">
            Add Scores
        </button>
        <button class="btn primary" style="background-color: transparent; color: var(--color-blue-light);"
            (click)="toggleScoresModal()">
            Scores List
        </button>
        <button class="btn" style="background-color: transparent; color: var(--color-red);">
            Edit Groups
        </button>
    </div>
</div>

<div *ngFor="let row of groupsData">
    <div class="row-header">
        <h3>{{row.name}}</h3>
    </div>
    <div class="row-body">
        <div class="group" *ngFor="let group of row.groups">
            <h4>{{group.name}}</h4>
            <table class="group-table">
                <thead>
                    <tr>
                        <th>Np</th>
                        <th>Ime</th>
                        <th>Odig</th>
                        <th>Pad</th>
                        <th>Set</th>
                        <th>Gem</th>
                        <th>Bod</th>
                        <th><span style="opacity: 0;">.</span></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of group.items">
                        <td>{{item.no}}</td>
                        <td>{{item.ime}}</td>
                        <td>{{item.odig}}</td>
                        <td>{{item.pad}}</td>
                        <td>{{item.set}}</td>
                        <td>{{item.gem}}</td>
                        <td>{{item.bad}}</td>
                        <td>edit</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


<!-- add wo score -->
<div class="modal-overlay" [class]="showAddWoModal ? 'modal-view' : ''">
    <div class="modal-content">
        <div class="modal-dialog">
            <div class="modal-header">
                <h3>Add W.O Scores</h3>
                <button (click)="toggleAddWoModal()">
                    <img src="../../../assets/x.svg" alt="" style="height: 20px; width: 20px; object-fit: contain;">
                </button>
            </div>
            <div class="modal-body">
                <h3 class="mb-head">Unos Rezultata</h3>
                <div class="inputs-group">
                    <div class="input-con">
                        <label for="season-name">Datum:</label>
                        <input type="date" name="season-name" id="season-name" placeholder="Type Name">
                    </div>
                    <div class="input-con">
                        <label for="start-date">Grupe:</label>
                        <select>
                            <option value="" disabled>Select</option>
                            <option value="a">a</option>
                            <option value="b">b</option>
                        </select>
                    </div>
                </div>
                <div class="inputs-group">
                    <div class="input-con">
                        <label for="end-registration">Pobjednik:</label>
                        <select>
                            <option value="" disabled>Select</option>
                            <option value="a">a</option>
                            <option value="b">b</option>
                        </select>
                    </div>
                    <div class="input-con">
                        <label for="end-date">Parozeni:</label>
                        <select>
                            <option value="" disabled>Select</option>
                            <option value="a">a</option>
                            <option value="b">b</option>
                        </select>
                    </div>
                </div>
                <div class="buttons-group">
                    <button class="btn primary">
                        Unesi
                    </button>
                    <button (click)="toggleAddWoModal()" class="btn primary outlined">
                        Cancel
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- add scores modal -->
<div class="modal-overlay" [class]="showAddScoresModal ? 'modal-view' : ''">
    <div class="modal-content">
        <div class="modal-dialog">
            <div class="modal-header">
                <h3>Add W.O Scores</h3>
                <button (click)="toggleAddScoresModal()">
                    <img src="../../../assets/x.svg" alt="" style="height: 20px; width: 20px; object-fit: contain;">
                </button>
            </div>
            <div class="modal-body">
                <h3 class="mb-head">Unos Rezultata</h3>
                <div class="inputs-group">
                    <div class="input-con">
                        <label for="start-date">Tereni:</label>
                        <select>
                            <option value="" disabled>Select</option>
                            <option value="a">a</option>
                            <option value="b">b</option>
                        </select>
                    </div>
                    <div class="input-con">
                        <label for="season-name">Datum:</label>
                        <input type="date" name="season-name" id="season-name" placeholder="Type Name">
                    </div>
                    <div class="input-con">
                        <label for="start-date">Grupe:</label>
                        <select>
                            <option value="" disabled>Select</option>
                            <option value="a">a</option>
                            <option value="b">b</option>
                        </select>
                    </div>
                </div>
                <div class="inputs-group">
                    <div class="input-con">
                        <label for="end-registration">Pobjednik:</label>
                        <select>
                            <option value="" disabled>Select</option>
                            <option value="a">a</option>
                            <option value="b">b</option>
                        </select>
                    </div>
                    <div style="display: flex; max-width: 50%; gap: 2rem;">
                        <div class="input-con">
                            <label for="">Set 1:</label>
                            <input type="number" placeholder="0">
                        </div>
                        <div class="input-con">
                            <label for="">Set 2:</label>
                            <input type="number" placeholder="0">
                        </div>
                        <div class="input-con">
                            <label for="">Set 3:</label>
                            <input type="number" placeholder="0">
                        </div>
                    </div>
                </div>
                <div class="inputs-group">
                    <div class="input-con">
                        <label for="end-registration">Parozeni:</label>
                        <select>
                            <option value="" disabled>Select</option>
                            <option value="a">a</option>
                            <option value="b">b</option>
                        </select>
                    </div>
                    <div style="display: flex; max-width: 50%; gap: 2rem;">
                        <div class="input-con">
                            <label for="">Set 1:</label>
                            <input type="number" placeholder="0">
                        </div>
                        <div class="input-con">
                            <label for="">Set 2:</label>
                            <input type="number" placeholder="0">
                        </div>
                        <div class="input-con">
                            <label for="">Set 3:</label>
                            <input type="number" placeholder="0">
                        </div>
                    </div>
                </div>
                <div class="buttons-group">
                    <button class="btn primary">
                        Unesi
                    </button>
                    <button (click)="toggleAddScoresModal()" class="btn primary outlined">
                        Cancel
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- scores modal -->
<div class="modal-overlay" [class]="showScoresModal ? 'modal-view' : ''">
    <div class="modal-content">
        <div class="modal-dialog">
            <div class="modal-header">
                <h3>Add W.O Scores</h3>
                <button (click)="toggleScoresModal()">
                    <img src="../../../assets/x.svg" alt="" style="height: 20px; width: 20px; object-fit: contain;">
                </button>
            </div>
            <table style="margin-top: 0;">
                <thead>
                    <tr>
                        <th>No</th>
                        <th>Grupa</th>
                        <th>Datum</th>
                        <th>City</th>
                        <th>Result</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Grupa b23</td>
                        <td>15:30 08 Dec 2023</td>
                        <td>Padel central puerto</td>
                        <td>Bodlsa / dsaoijds /dsadas</td>
                        <td>del</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Grupa b23</td>
                        <td>15:30 08 Dec 2023</td>
                        <td>Padel central puerto</td>
                        <td>Bodlsa / dsaoijds /dsadas</td>
                        <td>del</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Grupa b23</td>
                        <td>15:30 08 Dec 2023</td>
                        <td>Padel central puerto</td>
                        <td>Bodlsa / dsaoijds /dsadas</td>
                        <td>del</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Grupa b23</td>
                        <td>15:30 08 Dec 2023</td>
                        <td>Padel central puerto</td>
                        <td>Bodlsa / dsaoijds /dsadas</td>
                        <td>del</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Grupa b23</td>
                        <td>15:30 08 Dec 2023</td>
                        <td>Padel central puerto</td>
                        <td>Bodlsa / dsaoijds /dsadas</td>
                        <td>del</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>