<div class="card">
    <div class="card-header">
        <button>
            <img src="../../../assets/back.svg" alt="">
        </button>
        <h3>Settings</h3>
    </div>
    <div class="card-body">
        <div class="input-group">
            <div class="input-con">
                <label for="email">Change Email</label>
                <input type="email" name="email" id="email" placeholder="abc@xyz.com">
            </div>
            <div class="input-con">
                <label for="email">Old Password</label>
                <input type="email" name="email" id="email" placeholder="abc@xyz.com">
            </div>
        </div>
        <div class="input-group">
            <div class="input-con">
                <label for="email">New Password</label>
                <input type="email" name="email" id="email" placeholder="abc@xyz.com">
            </div>
            <div class="input-con">
                <label for="email">Confirm Password</label>
                <input type="email" name="email" id="email" placeholder="abc@xyz.com">
            </div>
        </div>
        <div class="bottom">
            <button class="fill-btn">Save</button>
            <button class="ol-btn">Close</button>
        </div>
    </div>
</div>