<div class="top-bar">
    <h3>Admin Users</h3>
    <button class="btn" (click)="toggleAddAdminModal()">
        <p>+</p>
        <p>Add New Admin</p>
    </button>
</div>

<table>
    <thead>
        <tr>
            <th>No</th>
            <th>Name</th>
            <th>Email</th>
            <th>City</th>
            <th>Password</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let admin of adminsData">
            <td>{{admin.No}}</td>
            <td>{{admin.Name}}</td>
            <td>{{admin.Email}}</td>
            <td>{{admin.City}}</td>
            <td>{{admin.Password}}</td>
            <td>{{admin.Status}}</td>
            <td>
                <div class="actions">
                    <app-switch></app-switch>
                    <!-- <span class="edit">edit</span> -->
                    <!-- <span class="delete">delete</span> -->
                    <button class="edit">
                        <img src="../../../assets/edit.svg" alt="">
                    </button>
                    <button class="delete">
                        <img src="../../../assets/trash.svg" alt="">
                    </button>
                </div>
            </td>
        </tr>
    </tbody>
</table>

<div class="modal-overlay" [class]="showAddAdminModal ? 'modal-view' : ''">
    <div class="modal-content">
        <div class="modal-dialog">
            <div class="modal-header">
                <h3>Add New Admin</h3>
                <button (click)="toggleAddAdminModal()">
                    <img src="../../../assets/x.svg" alt="" style="height: 20px; width: 20px; object-fit: contain;">
                </button>
            </div>
            <div class="modal-body">
                <div class="inputs-group">
                    <div class="input-con">
                        <label for="season-name">Name:</label>
                        <input type="text" name="season-name" id="season-name" placeholder="Type Name">
                    </div>
                    <div class="input-con">
                        <label for="season-name">Email:</label>
                        <input type="email" name="season-name" id="season-name" placeholder="Type Email">
                    </div>
                </div>
                <div class="inputs-group">
                </div>
                <div class="inputs-group">
                    <div class="input-con">
                        <label>City:</label>
                        <select>
                            <option value="">City</option>
                            <option value="a">A</option>
                        </select>
                    </div>
                    <div class="input-con">
                        <label for="season-name">Password:</label>
                        <input type="password" name="season-name" id="season-name" placeholder="Type Password">
                    </div>
                </div>
                <div class="buttons-group">
                    <button class="btn primary">
                        Submit
                    </button>
                    <button (click)="toggleAddAdminModal()" class="btn primary outlined">
                        Cancel
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>