<!-- seasons -->
<div [style.display]="showLeague ? 'none': 'block'">
    <div class="top-bar">
        <h3>Seasons</h3>
        <div class="input-container">
            <label for="city">City</label>
            <select name="city" id="city">
                <option value="" disabled>Select City</option>
                <option value="sukkur">Sukkur</option>
                <option value="karachi">Karachi</option>
            </select>
        </div>
        <div class="input-container">
            <label for="sports">Sports</label>
            <select name="sports" id="sports">
                <option value="" disabled>Select Sports</option>
                <option value="sukkur">Sport 1</option>
                <option value="karachi">Sport 2</option>
            </select>
        </div>
        <div class="input-container">
            <label for="seasons">Seasons</label>
            <select name="seasons" id="seasons">
                <option value="" disabled>Select Season</option>
                <option value="sukkur">Season 1</option>
                <option value="karachi">Season 2</option>
            </select>
        </div>
        <button class="btn" (click)="toggleAddSeasonModal()">
            <p>+</p>
            <p>Add New Session</p>
        </button>
    </div>

    <table>
        <thead>
            <tr>
                <th>No</th>
                <th>Season</th>
                <th>Sport</th>
                <th>City</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let season of seasonsData">
                <td>{{season.No}}</td>
                <td>{{season.Season}}</td>
                <td>{{season.Sport}}</td>
                <td>{{season.City}}</td>
                <td>{{season.StartDate}}</td>
                <td>{{season.EndDate}}</td>
                <td>{{season.Status}}</td>
                <td>
                    <div class="actions">
                        <button (click)="toggleLeague()">Leagues</button>
                        <span class="edit" (click)="toggleEditSeasonModal(season)">edit</span>
                        <span class="delete">delete</span>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<!-- leagues -->
<div [style.display]="showLeague && !showGroups? 'block': 'none'">
    <div class="top-bar">
        <h3>Leagues</h3>
        <button class="btn" (click)="toggleAddLeagueModal()">
            <p>+</p>
            <p>Add New League</p>
        </button>
    </div>

    <table>
        <thead>
            <tr>
                <th>No</th>
                <th>League Name</th>
                <th>Sport</th>
                <th>Type</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let season of seasonsData">
                <td>{{season.No}}</td>
                <td>{{season.Season}}</td>
                <td>{{season.Sport}}</td>
                <td>{{season.Status}}</td>
                <td>
                    <div class="actions">
                        <button (click)="toggleGroup()">Groups</button>
                        <button class="danger">Structure</button>
                        <span class="delete">delete</span>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<!-- groups -->
<div [style.display]="showLeague && showGroups? 'block': 'none'">
    <app-groups />
</div>

<!-- modals -->

<!-- add season -->
<div class="modal-overlay" [class]="showAddSeasonModal ? 'modal-view' : ''">
    <div class="modal-content">
        <div class="modal-dialog">
            <div class="modal-header">
                <h3>Add New Season</h3>
                <button (click)="toggleAddSeasonModal()">x</button>
            </div>
            <div class="modal-body">
                <div class="inputs-group">
                    <div class="input-con">
                        <label for="season-name">Season Name:</label>
                        <input type="text" name="season-name" id="season-name" placeholder="Type Name">
                    </div>
                    <div class="input-con">
                        <label for="start-date">Start Date:</label>
                        <input type="date" name="start-date" id="start-date">
                    </div>
                </div>
                <div class="inputs-group">
                    <div class="input-con">
                        <label for="end-registration">End Registration:</label>
                        <input type="date" name="end-registration" id="end-registration">
                    </div>
                    <div class="input-con">
                        <label for="end-date">End Date:</label>
                        <input type="date" name="end-date" id="start-date">
                    </div>
                </div>
                <div class="buttons-group">
                    <button class="btn primary">
                        Submit
                    </button>
                    <button (click)="toggleAddSeasonModal()" class="btn primary outlined">
                        Cancel
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- edit season -->
<div class="modal-overlay" [class]="showEditSeasonModal ? 'modal-view' : ''">
    <div class="modal-content">
        <div class="modal-dialog">
            <div class="modal-header">
                <h3>Edit Season</h3>
                <button (click)="toggleEditSeasonModal(null)">x</button>
            </div>
            <div class="modal-body">
                <div class="inputs-group">
                    <div class="input-con">
                        <label for="season-name">Season Name:</label>
                        <input type="text" name="season-name" id="season-name" placeholder="Type Name"
                            [value]="currentSeason?.Season">
                    </div>
                    <div class="input-con">
                        <label for="start-date">Start Date:</label>
                        <input type="date" name="start-date" id="start-date" [value]="currentSeason?.StartDate">
                    </div>
                </div>
                <div class="inputs-group">
                    <div class="input-con">
                        <label for="end-registration">End Registration:</label>
                        <input type="date" name="end-registration" id="end-registration">
                    </div>
                    <div class="input-con">
                        <label for="end-date">End Date:</label>
                        <input type="date" name="end-date" id="end-date" [value]="currentSeason?.EndDate">
                    </div>
                </div>
                <div class="buttons-group">
                    <button class="btn primary">
                        Submit
                    </button>
                    <button (click)="toggleEditSeasonModal(null)" class="btn primary outlined">
                        Cancel
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- add league -->
<div class="modal-overlay" [class]="showAddLeagueModal ? 'modal-view' : ''">
    <div class="modal-content">
        <div class="modal-dialog">
            <div class="modal-header">
                <h3>Add League</h3>
                <button (click)="toggleAddLeagueModal()">x</button>
            </div>
            <div class="modal-body">
                <div class="inputs-group">
                    <div class="input-con">
                        <label for="league-name">League Name:</label>
                        <input type="text" name="league-name" id="league-name" placeholder="Type Name">
                    </div>
                    <div class="input-con">
                        <label for="league-type">League Type:</label>
                        <select name="league-type" id="league-type">
                            <option value="" disabled>Select League Type</option>
                            <option value="League">League Type 1</option>
                            <option value="League">League Type 1</option>
                            <option value="League">League Type 1</option>
                            <option value="League">League Type 1</option>
                        </select>
                    </div>
                </div>
                <div class="buttons-group">
                    <button class="btn primary">
                        Submit
                    </button>
                    <button (click)="toggleAddLeagueModal()" class="btn primary outlined">
                        Cancel
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>