<div class="top-bar">
    <h3>City</h3>
    <button class="btn" (click)="toggleAddCityModal()">
        <p>+</p>
        <p>Add New City</p>
    </button>
</div>

<table>
    <thead>
        <tr>
            <th>No</th>
            <th>City</th>
            <th>Contact Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let city of cityData">
            <td>{{city.No}}</td>
            <td>{{city.City}}</td>
            <td>{{city.ContactName}}</td>
            <td>{{city.Email}}</td>
            <td>{{city.Phone}}</td>
            <td>
                <div class="actions">
                    <app-switch></app-switch>
                    <span class="edit">edit</span>
                    <span class="delete">delete</span>
                </div>
            </td>
        </tr>
    </tbody>
</table>

<div class="modal-overlay" [class]="showAddCityModal ? 'modal-view' : ''">
    <div class="modal-dialog">
        <div class="modal-header">
            <h3>Add New City</h3>
            <button (click)="toggleAddCityModal()">x</button>
        </div>
        <div class="modal-body">
            <div class="inputs-group">
                <div class="input-con">
                    <label for="season-name">City Name:</label>
                    <input type="text" name="season-name" id="season-name" placeholder="Type city name">
                </div>
                <div class="input-con">
                    <label for="season-name">Contact Name:</label>
                    <input type="text" name="season-name" id="season-name" placeholder="Type Contact Name">
                </div>
            </div>
            <div class="inputs-group">
                <div class="input-con">
                    <label for="season-name">Email:</label>
                    <input type="text" name="season-name" id="season-name" placeholder="Type Email">
                </div>
                <div class="input-con">
                    <label for="season-name">Phone:</label>
                    <input type="text" name="season-name" id="season-name" placeholder="Type Phone">
                </div>
            </div>
            <div class="buttons-group">
                <button class="btn primary">
                    Submit
                </button>
                <button (click)="toggleAddCityModal()" class="btn primary outlined">
                    Cancel
                </button>
            </div>
        </div>
    </div>
</div>