<div class="top-bar">
    <h3>Ads</h3>
    <button class="btn" (click)="toggleAddAdsModal()">
        <p>+</p>
        <p>Add New Ads</p>
    </button>
</div>

<table>
    <thead>
        <tr>
            <th>No</th>
            <th>Image</th>
            <th>Title</th>
            <th>Link</th>
            <th>City</th>
            <th>Sports</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let ads of adsData">
            <td>{{ads.No}}</td>
            <td>
                <img [src]="ads.Image" alt="">
            </td>
            <td>{{ads.Title}}</td>
            <td>{{ads.Link}}</td>
            <td>{{ads.City}}</td>
            <td>{{ads.Sports}}</td>
            <td>
                <div class="actions">
                    <button class="edit">
                        <img src="../../../assets/edit.svg" alt="">
                    </button>
                    <button class="delete">
                        <img src="../../../assets/trash.svg" alt="">
                    </button>
                </div>
            </td>
        </tr>
    </tbody>
</table>

<div class="modal-overlay" [class]="showAddAdsModal ? 'modal-view' : ''">
    <div class="modal-content">
        <div class="modal-dialog">
            <div class="modal-header">
                <h3>Add New Ad</h3>
                <button (click)="toggleAddAdsModal()">
                    <img src="../../../assets/x.svg" alt="" style="height: 20px; width: 20px; object-fit: contain;">
                </button>
            </div>
            <div class="modal-body">
                <div class="files">
                    <label class="add-file" for="add-file">
                        <input type="file" name="add-file" id="add-file" hidden>
                        <!-- 
                        <img src="../../../assets/add-image.svg" alt=""> -->
                        <img src="../../../assets/add-image.svg" alt="">
                    </label>
                    <div class="uploaded-files">
                        <div class="uploaded-file">
                            <img src="../../../assets/image.jpg" alt="uploaded">
                            <div class="close">
                                <img src="../../../assets/x.svg" alt=""
                                    style="height: 14px !important; width: 14px !important; object-fit: contain; margin-bottom: 0px;">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="inputs-group">
                    <div class="input-con">
                        <label for="season-name">Title:</label>
                        <input type="text" name="season-name" id="season-name" placeholder="Type Title">
                    </div>
                    <div class="input-con">
                        <label for="season-name">Link:</label>
                        <input type="text" name="season-name" id="season-name" placeholder="Type Link">
                    </div>
                </div>
                <div class="inputs-group">
                </div>
                <div class="inputs-group">
                    <div class="input-con">
                        <label>City:</label>
                        <select>
                            <option value="">City</option>
                            <option value="a">A</option>
                        </select>
                    </div>
                    <div class="input-con">
                        <label>Sport:</label>
                        <select>
                            <option value="">City</option>
                            <option value="a">A</option>
                        </select>
                    </div>
                </div>
                <div class="buttons-group">
                    <button class="btn primary">
                        Submit
                    </button>
                    <button (click)="toggleAddAdsModal()" class="btn primary outlined">
                        Cancel
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>