:root {
    --bg-dark: #090628;
    --bg-light: #f3f1f9;
    --color-white: #fff;
    --color-shadow: #33333349;
    --color-red: #e50c44;
    --color-blue-light: #00c7d2;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 3rem;
    border: 1px solid var(--color-shadow);
    background-color: var(--color-white);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 0 1px var(--color-shadow);
}

tr {
    border-bottom: 1px solid var(--color-shadow);
}

th,
td {
    padding: 8px;
    text-align: left;
    padding: 1.5rem;
}

td img {
    width: 250px;
    height: 160px;
    object-fit: cover;
    border: 1px solid var(--bg-dark);
    border-radius: 15px;
}

.description {
    max-width: 200px;
}

.actions {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.actions button {
    padding: .35rem .75rem;
    font-size: 1rem;
    background-color: var(--color-white);
    border: 1px solid var(--color-blue-light);
    color: var(--color-blue-light);
    cursor: pointer;
    border-radius: 5px;
}

.actions button.danger {
    border: 1px solid var(--color-red);
    color: var(--color-red);
}

.actions .edit {
    color: var(--color-blue-light);
}

.actions .delete {
    color: var(--color-red);
}

.top-bar {
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-top: 30px;
    justify-content: space-between;
}

.top-bar h3 {
    font-size: 1.75rem;
    font-weight: 500;
}

.btn {
    font-size: 1rem;
    background-color: var(--color-red);
    border-radius: 7px;
    border: 1px solid var(--color-red);
    outline: none;
    color: var(--color-white);
    padding: 1rem 2rem;
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.btn.primary {
    background-color: var(--color-blue-light);
    border: 1px solid var(--color-blue-light);
}

.btn.primary.outlined {
    background-color: var(--color-white);
    color: var(--color-blue-light);
}

.btn p:nth-child(1) {
    font-size: 1.25rem;
}

.input-container {
    flex: 1;
    position: relative;
}

.input-container label {
    position: absolute;
    left: 0;
    top: -30px;
    font-weight: 600;
    font-size: 1rem;
}

.input-container select {
    width: 100%;
    outline: none;
    border: 1px solid #afafaf;
    border-radius: 7px;
    padding: 1rem;
    font-size: 1rem;
    background-color: white;
}

.card {
    background-color: var(--color-white);
    height: 100%;
    border: 1px solid var(--color-shadow);
    border-radius: 10px;
}

.card-header {
    padding: 2rem;
    display: flex;
    gap: 1.5rem;
    align-items: center;
}

.card-header button {
    height: 40px;
    width: 40px;
    border: 1px solid var(--color-shadow);
    border-radius: 10px;
    font-size: 1rem;
    color: var(--color-blue-light);
    cursor: pointer;
    background-color: var(--color-white);
}

.card-header h3 {
    font-size: 1.75rem;
    font-weight: 500;
}

.modal-overlay {
    min-height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #f3f1f94f;
    backdrop-filter: blur(2px);
    opacity: 0;
    pointer-events: none;
    transition: 500ms;
}

.modal-content {
    display: flex;
    justify-content: center;
    padding: 2rem;
    height: 100vh;
    max-height: 100vh;
    overflow-y: auto;
}

.modal-dialog {
    width: 100%;
    max-width: 1000px;
    background-color: var(--color-white);
    border-radius: 10px;
    box-shadow: 0 0 10px var(--color-shadow);
    overflow: hidden;
    transform: translateY(400px);
    height: fit-content;
    transition: 500ms;
}

.modal-view {
    opacity: 1;
    pointer-events: all;
    transition: 500ms;
    z-index: 10000;
}

.modal-view .modal-dialog {
    transform: translateY(0px);
}

.modal-header {
    background-color: var(--color-red);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 2rem;
}

.modal-header h3 {
    font-size: 1.5rem;
    color: white;
    font-weight: 400;
}

.modal-header button {
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 1.5rem;
    color: white;
    cursor: pointer;
}

.modal-body {
    padding: 2rem;
}

.modal-body .mb-head {
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 2rem;
}

.modal-body .inputs-group {
    display: flex;
    gap: 1.5rem;
    margin-bottom: 2rem;
}

.modal-body .input-con {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.modal-body .input-con label {
    font-size: .9rem;
    font-weight: 600;
}

.modal-body .input-con input,
.modal-body .input-con select,
.modal-body .input-con textarea {
    padding: .75rem;
    border-radius: 5px;
    border: 1px solid var(--color-shadow);
    font-size: .9rem;
    outline: none;
    font-weight: 400;
    width: 100%;
    resize: none;
}

.modal-body .buttons-group {
    display: flex;
    gap: 1.5rem;
}

.modal-body .files {
    display: flex;
    gap: 2rem;
}

.add-file {
    height: 150px;
    min-width: 150px;
    border-radius: 10px;
    border: 1px dashed var(--color-blue-light);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-bottom: 2rem;
}

.add-file h2 {
    font-size: 5rem;
    color: var(--color-blue-light);
}

.uploaded-files {
    display: flex;
    gap: 2rem;
}

.uploaded-file {
    height: 150px;
    min-width: 150px;
    max-width: 150px;
    position: relative;
}

.uploaded-file img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-bottom: 2rem;
    border-radius: 10px;
}

.uploaded-file .close {
    height: 30px;
    width: 30px;
    border-radius: 40px;
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: black;
    color: white;
    display: grid;
    place-items: center;
    cursor: pointer;
}

@media screen and (max-width: 1500px) {
    table {
        margin-top: 2rem;
    }

    th,
    td {
        padding: 1rem;
        font-size: .7rem;
    }

    td img {
        width: 160px;
        height: 120px;
    }

    .description {
        max-width: 180px;
    }

    .actions {
        gap: 1rem;
    }

    .actions button {
        font-size: .7rem;
    }

    .top-bar h3 {
        font-size: 1.3rem;
    }

    .btn {
        font-size: .7rem;
        padding: .75rem 1.25rem;
        gap: .75rem;
    }

    .btn p:nth-child(1) {
        font-size: 1rem;
    }

    .input-container label {
        font-size: .8rem;
        top: -23px;
    }

    .input-container select {
        padding: .75rem;
        font-size: .7rem;
    }

    .card-header {
        padding: 1.25rem;
        gap: .8rem;
    }

    .card-header button {
        height: 30px;
        width: 30px;
        font-size: .8rem;
    }

    .card-header h3 {
        font-size: 1.25rem;
    }

    .modal-content {
        padding: 1rem;
    }

    .modal-header {
        padding: 1rem 1.5rem;
    }

    .modal-header h3 {
        font-size: 1rem;
    }

    .modal-header button {
        font-size: 1rem;
    }

    .modal-body {
        padding: 1.4rem;
    }

    .modal-body .mb-head {
        font-size: 1.2rem;
    }

    .modal-body .input-con label {
        font-size: .7rem;
    }

    .modal-body .input-con input,
    .modal-body .input-con select,
    .modal-body .input-con textarea {
        font-size: .7rem;
        max-height: 100px;
    }

    .modal-body .buttons-group {
        gap: 1rem;
    }

    .modal-body .files {
        gap: 1.25rem;
    }

    .add-file {
        height: 120px;
        min-width: 120px;
    }

    .add-file h2 {
        font-size: 3rem;
    }

    .uploaded-files {
        gap: 1rem;
    }

    .uploaded-file {
        height: 120px;
        min-width: 120px;
        max-width: 120px;
    }

    .uploaded-file .close {
        height: 25px;
        width: 25px;
        font-size: .7rem;
    }
}